.navBar {
    position: relative;
}

.navBarButton {
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 10;
    cursor: pointer;
}

.navMenu {
    overflow-y: scroll;
    position: fixed;
    left: 0;
    height: 100vh;
    max-width: 225px;
    z-index: 9;
    margin: 0;
}

.navClosed {
    width: 0;
    overflow: hidden;
    transition: ease width 1s; 
}

.navOpen{
    width: 100%;
    background: #FAF9F6;
    transition: ease width .75s;
}

.navList {
    list-style: none;
}

.navMenu a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.navMenu li {
    padding: 10px 40px;
}

.navMenu li:first-child {
    margin-top: 3rem;
}

@media screen and (min-width: 480px) {
    .navBar {
        display: none;
    }
}

@keyframes open {
    
}