.container {
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentContainer {
  padding: 10px;
  border: solid 2px black;
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 210px;
}

.linkIcons{
  margin-top: 10px;
  display: flex;
}

.linkIcon {
  margin-right: 20px;
}

.contentTitle {
  border-bottom: 2px solid;
  padding-bottom: 5px;
}

.title {
  size: 4em;
  margin: 0;
  padding: 0;
}